{% extends 'base.html' %}

{% block content %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1> Cart </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row mb-5">
            {% if cart_products %}
                <form class="col-md-12" method="post" action="cart">
                    {% csrf_token %}
                    <div class="site-blocks-table">
                        <table class="table">
                            <thead>
                                <tr> 
                                    <th class="text-start">SL.No</th>
                                    <th class="product-name text-start">PRODUCT</th>
                                    <th class="product-price text-start">PRICE</th> 
                                    <th class="product-price text-start">QUANTITY</th> 
                                    <th class="product-total text-start">TOTAL</th>
                                    <th class="product-remove text-start">REMOVE</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in cart_products %}
                                <tr> 
                                    <td class="text-start"> {{ forloop.counter }} </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black text-uppercase text-start"> {{ product.product.product_name }} </h2>
                                    </td>
                                    <td data-product-id="{{ product.id }}" class="text-start">Rs. {{ product.product.product_price }}</td> 
                                    <td class="text-start">
                                        <input type="number" name="quantity_{{ product.id }}" value="{{ product.quantity }}" min="1" max="{{ product.product.product_quantity }}" onchange="calculateTotal(this)">
                                     </td>
                                     <td id="total_{{ product.id }}" class="text-start">{{ product.amount }}</td>
                                    <td class="text-start"><a href="{% url 'remove_from_cart' %}?cart_id={{ product.id }}"> <button type="button" class="btn-danger"> REMOVE </button> </a>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="container">
                        <div class="row mb-5 mt-5  ">
                            <div class="d-grid gap-2 col-6 mx-auto mt-4">
                                <input type="submit" value="MAKE PURCHASE" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="col-md-12">
                    <div class="row mb-12">
                        <div class="col-md-12 h-100">
                            <h2 class="h3 mb-3 ">Your cart is empty. Please add items to the cart. <a href="{% url 'user_home' %}"> Go to shopping </a></h2>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function calculateTotal(input) {
        const productId = input.name.split('_')[1];
        const quantity = parseInt(input.value);
        const price = parseFloat(document.querySelector(`td[data-product-id="${productId}"]`).innerText.replace('Rs. ', ''));
        const total = quantity * price;
        document.querySelector(`td#total_${productId}`).innerText = total.toFixed(2);
    }

    // Function to calculate total for all inputs on page load
    function calculateInitialTotals() {
        const quantityInputs = document.querySelectorAll('[name^="quantity_"]');
        quantityInputs.forEach(input => calculateTotal(input));
    }

    // Call the function when the page is loaded
    document.addEventListener('DOMContentLoaded', calculateInitialTotals);
</script>

{% endblock %}
